/**
 * Controls the main layout (width, height, margin, padding)
 *
 * #container
 *   #header
 *   #main
 *     #page
 *     #sidebar
 *   #footer
 */
body {
    text-align: left;
}

#container {
    margin: 80px 5%;
}

#header {
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
}

#page {
    float: left;
    width: 65%;
    margin-right: 5%;
    max-width: 800px;
    position: relative;
    z-index: 50;
}

#sidebar {
    float: left;
    width: 30%;
    position: relative;
    z-index: 49;
    max-width: 430px;
}

#footer {
    height: 40px; 
    clear: both;
    padding-top: 10px;
}
