.divider {
  margin-bottom: 50px;
}

.breadcrumbs {
  font-size: 10px;
  font-weight: bold;
  padding-bottom: 15px;
}

article h1 {
    background-color: whiteSmoke;
    border-bottom: 1px dashed #CCC;
    -webkit-border-radius: 4px 4px 0px 0px;
       -moz-border-radius: 4px 4px 0px 0px;
            border-radius: 4px 4px 0px 0px;
    padding: 8px;
}

article .content {
    padding: 20px;
}

article .readMore {
    margin: 0 0 20px 20px;
}

#sidebar .author {
  min-height: 250px;
}

#sidebar img {
  float: right;
  width: 200px;
  height: 200px;
  margin-left: 10px;
  border: 1px solid white;
  -webkit-box-shadow: 0px 0px 0px 1px #DADADA;
     -moz-box-shadow: 0px 0px 0px 1px #DADADA;
          box-shadow: 0px 0px 0px 1px #DADADA;
}

#sidebar .sidebar-node {
  margin-bottom: 20px;
}